@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: "Gentium";
    src: url("/fonts/Gentium/GentiumBookPlus-Italic.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit;
 }

 h1 {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(darkmagenta , #EE82EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: aliceblue;
    display: table;
    margin: 20px auto;
 }

 p {
    font-family: "Gentium";
    width: 40%;
 }

#app {
    background: linear-gradient(darkmagenta , magenta);
    padding: .8rem;
}

.header , .box , p , .button , #app , .header__img {
    display: flex;
    justify-content: space-between;
}

.footer , .box__img {
    padding: 1rem;
}

.header {
    align-items: center;
    padding: 2rem;
}

.header__img {
    width: 4rem;
}

.box {
    padding: 2rem;
}

.box__img {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    float: right;
}

.main {
    height: 70vh;
}

.footer {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}

.social__img {
    display: flex;
    justify-content: space-evenly;
    width: 2rem;
}