@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/static/Montserrat-ThinItalic.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
 }

#app {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    background: linear-gradient(darkmagenta , magenta);
    color: aliceblue;
    padding: .8rem;
}

.header , .nav , .logo, .box {
    display: flex;
    justify-content: space-between;
}

.footer , .header, .box__img {
    padding: 1rem;
}

.header {
    align-items: center;
}

.logo {
    width: 4rem;
}

.nav {
    text-transform: uppercase;
    width: 100%;
    padding: .8rem;
}

.box {
    padding: 2rem;
}

.box__img {
    width: 10rem;
}

.input {
    
}

.main {
    height: 70vh;
}

.button {
    
}

.footer {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}