@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

:root {
    --main-bg: darkmagenta;
    --secondary-bg: cyan;

    --main-txt-color : aliceblue;
    --secondary-txt-color : #232323;

    --padding-xl: 3rem;
    --padding-l: 2rem;
    --padding-m: 1rem;
    --padding-s: .8rem;
    --padding-xs: .5rem;

    --margin-xl: 3rem;
    --margin-l: 2rem;
    --margin-m: 1rem;
    --margin-s: .8rem;
    --margin-xs: .5rem;

    --font-size-xl: 3rem;
    --font-size-l: 2rem;
    --font-size-m: 1.4rem;
    --font-size-s: 1.2rem;
    --font-size-xs: 1rem;

    --main-ff: "Montserrat";
    --secondary-ff: "Poppins";

    --width-xxl: 25rem;
    --width-xl: 10rem;
    --width-l: 5rem;
    --width-m: 3rem;
    --width-s: 2rem;
    --width-xs: 1rem;

    --heidht-xl: 10rem;
    --heidht-l: 5rem;
    --heidht-m: 3rem;
    --heidht-s: 2rem;
    --heidht-xs: 1rem;
}